<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
        <form class="col s12" action="/users/<%= user._id%>/activity/<%= activity._id%>?_method=PUT" method="post">   
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <h2 class="form-signin-heading grey-text">Edit Activity</h2>
                    <div class="col s2">
                        <img src="/images/DefaultRunner.jpg" alt=""
                            class="circle responsive-img">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" id="name" type="text" value="<%=activity.name%>" class="validate">
                        <label for="name">Activity Name</label>
                    </div>
                </div>
                <!--div class="row">
                    <div class="input-field col s12">
                      <input type="date" name="date" id="date" data-value="10/02/2020" lass="datepicker grey-text" required>
                      <label for="date">Activity Date</label>
                    </div>
                  </div-->
                <div class="input-field col s8">
                    <div class="row">
                        <p class="grey-text"><b>Activity Type</b></p>
                        <div class="input-field col s4">
                            <p>
                                <label>
                                    <input name="activity.type" type="radio" value='Run' <% if (activity.activity.type === 'Run'){ %>
                                        checked <%} %> />
                                    <span>Run</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="activity.type" type="radio" value="Walk"  <% if (activity.activity.type === 'Walk'){ %>
                                        checked <%} %> />
                                    <span>Walk</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="activity.type" type="radio" value="Bike" <% if (activity.activity.type === 'Bike'){ %> 
                                        checked <%} %> />
                                    <span>Bike</span>
                                </label>
                            </p>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s4">
                                <input name="distance" id="distance" type="text" value="<%= activity.distance%>"
                                    class="validate">
                                <label for="distance">Distance in miles</label>
                            </div>
                            <div class="input-field col s4">
                                <input name="duration" id="duration" type="text" value="<%= activity.duration%>"
                                    class="validate">
                                <label for="duration">Duration in mins</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
                        <a href="/users/<%= user._id%>/activity" class="btn waves-effect waves-light">Cancel</a>
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>

</body>

</html>