<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>     

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">

        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <h3 class="form-signin-heading">Update Profile for <%=user.username%></h3>
                <div class="col s2">
                    <% if (user.photo == null || user.photo === ''){%>
                    <img src="/images/DefaultRunner.jpg" alt="Card image cap" class="circle responsive-img">
                    <%  } else {%>
                    <img src="<%=user.photo%>" alt="Card image cap" class="circle responsive-img">
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                </div>
                <div class="input-field col s6">
                    <input name="photo" type="url" id="image-input" value="<%=user.photo%>">
                    <label for="photo" class="sr-only">Profile Photo</label>
                    <button id="b">Click for Profile Photo</button>
                </div>
            </div>

            <form class="col s12" action="/users/<%=user.id%>?_method=PUT" method="post">      
                <div class="row">
                    <div class="input-field col s6">
                        <input name="fullName" id="fullName" type="text" value="<%=user.fullName%>" class="validate">
                        <label for="fullName">Full Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="age" class="sr-only">Age:</label>
                        <input type="text" id="age" name="age" class="form-control" value="<%=user.age%>" required="">
                    </div>
                </div>
                <div class="row">
                    <p class="grey-text"><b>Gender</b></p>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                <input name="gender" type="radio" value='male' <% if (user.gender === 'male'){ %>
                                    checked <%} %> />
                                <span>male</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="gender" type="radio" value='female' <% if (user.gender === 'female'){ %>
                                    checked <% } %> />
                                <span>female</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="about" name="about" class="materialize-textarea"><%= user.about%></textarea>
                        <label for="about">About you</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
                    <a href="/users" class="btn waves-effect waves-light">Back</a>
                </div>
                <br>
            </form>
        </div>
    </div>
    <script>
        document.getElementById("b").addEventListener("click", e => {
            let imageInput = document.getElementById("image-input");
            let image = document.getElementById("image");
            if (imageInput.value) {
                image.src = imageInput.value;
            } else {
                image.src = "https://image.shutterstock.com/image-photo/athlete-runner-feet-running-on-260nw-1282334374.jpg"
            }
            document.getElementById("photo").value = image.src;
        });
    </script>
</body>

</html>