<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
        <div class="card text-xs-center">
            <br>
            <div class="row valign-wrapper">
                <h3 class="form-signin-heading grey-text"><%= user.fullName%>'s Profile</h3>
                <div class="col s2">
                    <% if (user.photo == null || user.photo === ''){%>
                    <img src="/images/DefaultRunner.jpg" alt="Card image cap" class="circle responsive-img">
                    <%  } else {%>
                    <img src="<%=user.photo%>" alt="Card image cap" class="circle responsive-img">
                    <% } %>
                </div>
            </div>
            
            <div class="card-block">
                <p class="card-text">
                <div class="input-field col s12">
                    <strong>Name</strong>: <%= user.fullName %><br>
                </div>
                <div class="input-field col s12">
                    <strong>Gender</strong>: <%= user.gender %><br>
                </div>
                <div class="input-field col s12">
                    <strong>Age</strong>: <%= user.age %><br>
                </div>
                <div class="input-field col s12">
                    <strong>About</strong>: <%= user.about %><br>
                </div>
                </p>
                <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                    <div class="row">
                        <a href="/users" class="btn-small waves-effect waves-light">Back</a>
                        <a href="/users/<%=user._id%>/edit" class="btn-small waves-effect waves-light">Update</a>
                        <a href="/users/<%=user._id%>/activity"
                            class="btn-small waves-effect waves-light">Activities</a>
                        <button class="btn-small red waves-effect waves-light" type="submit"
                            name="action">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>