<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
        <h1><%= user.fullName %></h1>
        <div class="details">
            <div class="card text-xs-center">
                <br>
                <img class="card-img-top" src="/images/DefaultRunner.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Profile Details</h4>
                    <p class="card-text">
                        <strong>Name</strong>: <%= user.fullName %><br>
                        <strong>Gender</strong>: <%= user.gender %><br>
                        <strong>Age</strong>: <%= user.age %><br>
                        <strong>About</strong>: <%= user.about %><br>
                    </p>
                    <div class="row">
                        <a href="/users" class="btn waves-effect waves-light">Logout</a>
                        <a href="/users/<%=user._id%>/edit" class="btn waves-effect waves-light">Update</a>
                        <a href="/users/<%=user._id%>/activity" class="btn waves-effect waves-light">Show Activity</a>
                        <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn waves-effect waves-light" value="Delete Profile" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>